<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="controlPanelApp">
<head>
</head>
<body th:fragment="device">
<div class="card-body">
    <h4 class="card-title">{{ device.name }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ device.description }}</h6>

    <div ng-if="device.value == null">
        <div class="alert alert-warning" role="alert">Value unavailable</div>
    </div>

    <div ng-if="device.value == 'ON'">
        <button type="button" ng-disabled="device.blocked" class="btn btn-success"
                data-toggle="tooltip"
                title="Turn the device OFF" ng-click="setValue(unit, device, 'OFF')">Turned ON
        </button>
    </div>

    <div ng-if="device.value == 'OFF'">
        <button type="button" ng-disabled="device.blocked" data-toggle="tooltip"
                title="Turn the device ON"
                class="btn btn-danger" ng-click="setValue(unit, device, 'ON')">Turned OFF
        </button>
    </div>

    <div ng-if="device.type == 'ANALOG_INPUT'">
        <div>{{ device.value }}</div>
    </div>

    <div ng-if="device.type == 'ANALOG_OUTPUT'">
        <form ng-submit="setValue(unit, device, device.value)">
            <input type="text" ng-model="device.value"/>
        </form>
        <button type="button" ng-disabled="device.blocked" class="btn btn-success"
                data-toggle="tooltip"
                title="Set analog vlaue" ng-click="setValue(unit, device, device.value)">Set Value
        </button>
    </div>

    <div ng-if="device.type == 'RGB_STRIP'">
        <form ng-submit="setValue(unit, device, device.value)">
            <input colorpicker="hex" type="text" ng-model="device.value" />
        </form>
        <button type="button" ng-disabled="device.blocked" class="btn btn-success"
                data-toggle="tooltip"
                title="Set analog value" ng-click="setValue(unit, device, device.value)">Set Value
        </button>
    </div>
</div>
</body>
</html>